<div>
    <h2 id="page-heading">
        <span>Tipo Documentos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-documento" [routerLink]="['/tipo-documento/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Tipo Documento
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tipoDocumentos?.length === 0">
        <span>No tipoDocumentos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tipoDocumentos && tipoDocumentos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Iniciales</span></th>
                    <th scope="col" ><span>Nombre Documento</span></th>
                    <th scope="col" ><span>Estado Tipo Docuemnto</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipoDocumento of tipoDocumentos ;trackBy: trackId">
                    <td><a [routerLink]="['/tipo-documento', tipoDocumento.id, 'view']">{{ tipoDocumento.id }}</a></td>
                    <td>{{ tipoDocumento.iniciales }}</td>
                    <td>{{ tipoDocumento.nombreDocumento }}</td>
                    <td>{{ tipoDocumento.estadoTipoDocuemnto }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tipo-documento', tipoDocumento.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tipo-documento', tipoDocumento.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tipoDocumento)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
