<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoDocumento">
            <h2><span>Tipo Documento</span> {{ tipoDocumento.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Iniciales</span></dt>
                <dd>
                    <span>{{ tipoDocumento.iniciales }}</span>
                </dd>
                <dt><span>Nombre Documento</span></dt>
                <dd>
                    <span>{{ tipoDocumento.nombreDocumento }}</span>
                </dd>
                <dt><span>Estado Tipo Docuemnto</span></dt>
                <dd>
                    <span>{{ tipoDocumento.estadoTipoDocuemnto }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-documento', tipoDocumento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
